@model GigUnite.Models.DashboardModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.RecommendedGigs[0].Band)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RecommendedGigs[0].Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RecommendedGigs[0].Venue)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RecommendedGigs[0].Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RecommendedGigs[0].Profile)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.RecommendedGigs)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Band)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Venue)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Profile.Displayname)
				</td>
				<td>
					<a asp-controller="Gigs" asp-action="Details" asp-route-id="@item.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<br />
<br />

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.InterestedGigs[0].Band)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InterestedGigs[0].Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InterestedGigs[0].Venue)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InterestedGigs[0].Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InterestedGigs[0].Profile)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.InterestedGigs)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Band)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Venue)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Profile.Displayname)
				</td>
				<td>
					<a asp-controller="Gigs" asp-action="Details" asp-route-id="@item.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>