@model GigUnite.Models.Profile

@{
	ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Displayname)'s Profile</h1>

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			@if (Model.ImageURL != null && Model.ImageURL.Length != 0)
			{
				<img class="profile" src=@Model.ImageURL width="100%">
			}
			else
			{
				<img class="profile" src="https://storage.googleapis.com/indie-hackers.appspot.com/product-avatars/quick-and-simple-image-placeholders/bcohuFwnmPgIu4aM56YZudq12m02" width="100%">
			}
		</div>
		<div class="col-sx-6 col-sm-6 col-md-8 col-lg-8">
			<p id="age" class="large">@Html.DisplayFor(model => model.Dob)</p>
			<hr>
			<p class="large">@Html.DisplayFor(model => model.Bio)</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<p><b>Genres I Like</b></p>
			@foreach (string genre in ViewBag.MyGenres)
			{
				<span class="tags">@genre</span>
			}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<p><b>My 5 favourite artists/bands</b></p>
			<p class="rank1"><b>1) @Html.DisplayFor(model => model.Band1)</b></p>
			<p class="rank2"><b>2) @Html.DisplayFor(model => model.Band2)</b></p>
			<p class="rank3"><b>3) @Html.DisplayFor(model => model.Band3)</b></p>
			<p class="rank4"><b>4) @Html.DisplayFor(model => model.Band4)</b></p>
			<p class="rank5"><b>5) @Html.DisplayFor(model => model.Band5)</b></p>
		</div>
	</div>
</div>
	<a asp-action="Edit">Edit my profile</a>

@ViewBag.Numero