@model GigUnite.Models.Gig

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details for @Html.DisplayFor(model => model.Band) gig</h1>
<hr />

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<b class="medium">@Html.DisplayNameFor(model => model.Band)</b><br />
			<p class="medium">@Html.DisplayFor(model => model.Band)</p>
			<b class="medium">@Html.DisplayNameFor(model => model.Date)</b><br />
			<p class="medium">@Html.DisplayFor(model => model.Date)</p>
			<b class="medium">@Html.DisplayNameFor(model => model.Venue)</b><br />
			<p class="medium" id="location">@Html.DisplayFor(model => model.Venue)</p>
			<b class="medium">@Html.DisplayNameFor(model => model.Price)</b><br />
			<p class="medium">£@Html.DisplayFor(model => model.Price)</p>
			<button class="btn btn-primary" onclick="location.href='@Model.TicketLink';">Buy ticket</button><br /><br />
			<b class="medium">Genres</b><br />
			@foreach (string genre in ViewBag.GigGenres)
			{
				<span class="tags">@genre</span>
			}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div id="map"></div>
			<img src="~/images/red-marker.png" class="marker">
			<span> - venue location</span><br />
			<img src="~/images/blue-marker.png" class="marker">
			<span> - suggested meeting points</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<br />
			@if (ViewBag.InterestLevel == "Interested")
			{
				<span>
					<img src="~/images/blank_bell.png" class="interest" id="interested" onmouseover="maybeOver()" Onmouseout="maybeOut()"
						 onclick="location.href='@Url.Action("RemoveInterest", "Gigs", new { gigId = Model.Id})'">
				</span>
			}
			else
			{
				<span>
					<img src="~/images/blank_bell.png" class="interest" id="interested" onmouseover="maybeOver()" Onmouseout="maybeOut()"
						 onclick="location.href='@Url.Action("AddInterest", "Gigs", new { gigId = Model.Id, level = "Interested" })'">
				</span>
			}
			@if (ViewBag.InterestLevel == "N/A")
			{
				<b><span id="notification">Interested?</span></b>
			}
			else
			{
				if (ViewBag.InterestLevel == "Interested")
				{
					<b><span id="notification">You are interested in this gig</span></b>
				}
			}
			<br />
			@if (ViewBag.InterestLevel == "Going")
			{
				<span>
					<img src="~/images/blank_tick.png" class="interest" id="going" onmouseover="goingOver()" Onmouseout="goingOut()"
						 onclick="location.href='@Url.Action("RemoveInterest", "Gigs", new { gigId = Model.Id})'">
				</span>
			}
			else
			{
				<span>
					<img src="~/images/blank_tick.png" class="interest" id="going" onmouseover="goingOver()" Onmouseout="goingOut()"
						 onclick="location.href='@Url.Action("AddInterest", "Gigs", new { gigId = Model.Id, level = "Going" })'">
				</span>
			}
			@if (ViewBag.InterestLevel == "N/A")
			{
				<b><span>Going?</span></b>
			}
			else
			{
				if (ViewBag.InterestLevel == "Going")
				{
					<b><span id="notification">You are going to this gig</span></b>
				}
			}
			<br />
			<br />
			<b>This gig advert was posted by <a asp-area="" asp-controller="Profiles" asp-action="Details" asp-route-id="@Model.Profile.Displayname">
				@Html.DisplayFor(model => model.Profile.Displayname)</a></b><br />
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<br />
			<p>Number of views: @Model.Views</p>
			<span><b>@ViewBag.Going.Count</b> going, <b>@ViewBag.Interested.Count</b> interested. </span><span><button class="btn btn-primary" onclick="showIt(this)">Show</button></span>
			<div class="row" id="hidden">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<b>Going</b><br />
					@for (var i = 0; i < ViewBag.Going.Count; i++)
					{
						<a asp-area="" asp-controller="Profiles" asp-action="Details" asp-route-id="@ViewBag.Going[i]">@ViewBag.Going[i] </a>
						<br />
					}
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<b>Interested</b><br />
					@for (var i = 0; i < ViewBag.Interested.Count; i++)
					{
						<a asp-area="" asp-controller="Profiles" asp-action="Details" asp-route-id="@ViewBag.Interested[i]">@ViewBag.Interested[i] </a>
						<br />
					}
				</div>
			</div>
		</div>
	</div>
	<hr />
	<h1>Discussion board</h1>
	@for (var i = 0; i < ViewBag.Messages.Count; i++)
	{
		<b><a asp-area="" asp-controller="Profiles" asp-action="Details" asp-route-id="@ViewBag.Profiles[i]">@ViewBag.Profiles[i] </a></b>
		<b> on @ViewBag.TimesPosted[i]</b><br />
		<p>@ViewBag.Messages[i]</p>
	}

	<div class="row">
		<div class="col-md-4">
			<form asp-action="Details">
				<div class="form-group">
					<b><label>Comment:</label></b>
					<textarea name="message" id="message" class="form-control" rows="5"></textarea>
				</div>
				<div class="form-group">
					<input type="hidden" name="gigId" id="gigId" value=@Model.Id readonly />
				</div>
				<div class="form-group">
					<input type="submit" value="Add Comment" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=showMap" async defer></script>

		<div>
			<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
			<a asp-action="Index">Back to List</a>
		</div>
