@model IEnumerable<GigUnite.Models.Gig>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Gigs</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Gig</a>
</p>

<div class="form-group">
		<p>
			Search: <input type="text" name="search" id="search">
		</p>
</div>
	<table class="table" id="list">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Band)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Venue)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Price)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Views)
				</th>
				<th>
					Posted By
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr class="filtered" onclick="location.href='@Url.Action("Details", "Gigs", new { Id = item.Id})'">
					<td>
						@Html.DisplayFor(modelItem => item.Band)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Venue)
					</td>
					<td>
						£@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Views)
					</td>
					<td>
						<b><a asp-area="" asp-controller="Profiles" asp-action="Details" asp-route-id="@item.Profile.Displayname">@Html.DisplayFor(modelItem => item.Profile.Displayname)</a></b>
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
